.topbarContainer{
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    padding:0 10px;
}

.topbarLeft{
   flex:4;
}

.topbarCenter{
   flex:5;
}

.topbarRight{
   flex:0.5;
   display: flex;
   justify-content: flex-end;
}

.deleteButton{
   background-color: rgb(243, 127, 127);
   height:30px;
}

.deleteIcon{
   background-color: rgb(243, 127, 127);
   color:white;
}


